<!doctype html >
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<title>Horoskoopit</title>
<link
	href="http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope"
	rel='stylesheet' type='text/css'>
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css"
	rel='stylesheet' type='text/css'>
<link href="bower_components/fontawesome/css/font-awesome.min.css"
	rel="stylesheet">

<link rel="stylesheet" href="css/app.css">
<script src="bower_components/angular/angular.js"></script>
<!-- <script src="bower_components/angular-animate/angular-animate.js"></script> -->

<script
	src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

<script src="js/app.js"></script>
<script src="js/services/zodiacsmaker.js"></script>
<script src="js/services/luckytellersmaker.js"></script>
<!-- <script src="js/services/remoterequests.js"></script> -->
<!-- <script src="js/providers/providers.js"></script> -->
<script src="js/factoris/factoris.js"></script>
<script src="js/controllers.js"></script>


<!-- <script src="js/filters.js"></script> -->
<!-- <script src="js/angular-uuid.js"></script> -->
<!-- <script src="js/angular-loadscript.js"></script> -->


</head>

<body ng-app="fi_FIfortune_mobi">

	<div ng-controller="LoadCtrl">

		<div class="container">

			<div ng-switch="zodiacSelected">

				<div ng-switch-when="false">
					<div ng-repeat="zodiac in zodiacs" ng-click="selectZodiac(zodiac)">
						<div class='media'>
							<img class='media-object pull-left itemimage'
								ng-src='images/{{zodiac.image}}.png' alt=''> <i
								class='fa fa-share fa-lg pull-right'></i>

							<div class='media-heading pull-right zodiacName'>{{zodiac.name}}</div>

						</div>


					</div>

				</div>

				<div ng-switch-when="true">

					<i class="fa fa-times-circle fa-2x pull-right"
						ng-click='closeLuckyteller()'></i> <a class="phone"
						href="tel:{{luckyteller.phone}}"> {{luckyteller.phone}}</a>

					<div class="media">

						<img class="media-object tellerimage pull-left"
							ng-src='images/shadow-fortuneteller{{luckytellerId}}.jpg' alt="">

						<div class="media-body">
							<div class="media-heading fortunetellername">
								{{luckyteller.name}}
								<div class="homelocation">
									<i class="fa fa-home"></i>{{luckyteller.location}}
								</div>

							</div>
							<div class="moto">{{luckyteller.moto}}</div>

						</div>

					</div>
					
					<div class="media">
					<img class="media-object itemimage30 pull-left"
							ng-src='images/{{zodiacSelectedObj.image}}.png' alt="">
							
							<div class="media-body zodicname">
							
								{{zodiacSelectedObj.name}}
							</div>
					
					</div>
					
					<div class="moto">{{zodiacdesc}}</div> 



					<!-- 					<div class="media">

						<img class="media-object itemimage30 pull-left"
							ng-src='images/{{zodiacSelectedObj.image}}.png' alt="">

						<div class="media-body">
							<div
								class="media-heading>
									{{zodiacSelectedObj.image}}
								</div>
							</div>

						</div>
						<div class="moto">{{zodiacdesc}}</div> -->





				</div>





			</div>

		</div>
</body>

</html>